.imgg{width: 8rem;}
.franchise{background-color: transparent;
border: 1px solid #ffffff;
color: #ffffff;
padding: 15px 20px;
border-radius: 20px;
font-size: 1rem;
cursor: pointer;}
.order{background-color: #ff0000;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
}
.no{color: #ffffff;text-decoration: none;}
.img1{width: 79rem;}
.rest{background-color: #ffffff;}
.brandbutn{border: 1px solid white;
     background-color:transparent;
color: white;
padding: 15px 30px;
border-radius: 20px;
cursor: pointer;}


.city{color: #ff0000 ;letter-spacing: 8px;font-size: 16px;font-family:}
.inline{display: inline;}
.express{font-size: 52px;}
.expressbranch{font-size: 48px;}



.franchiseparent{margin-top:10PX ;width: 400px;;border: 1px solid transparent;text-align: center;}
.child1{width: 300px;height: 214px;}
.child2{color: red;letter-spacing: 3px;}
.m11{margin-left: 427px;}

.heading{font-size: 52px;text-align: center;margin-top: 20px;}
.subheading{font-size: 48px;text-align: center;}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;}
    
    .left{height: 400px;width: 650px;}


    .upcomingfran{margin-top:10PX ;width: 400px;;border: 1px solid transparent;text-align: center;background-color: white;color: black;}
.twhite{background-color: white;color: black;width: 350px;height: 250px;border: 1px solid transparent;margin-top: 20px;border-radius: 5px;}
.location{height: 70px;width: 70px;margin-top: 5px;}
.m12{margin-left: 450px;}


.spfood{height: 200px;width: 240px;margin-left: 10px;}

.fblogo{height: 30px;width:25px;margin-top: 10px; gap: 5px;} 
.textstart{text-align: left;}