.imgg{width: 8rem;}
.franchise{background-color: transparent;
border: 1px solid #ffffff;
color: #ffffff;
padding: 15px 20px;
border-radius: 20px;
font-size: 1rem;
cursor: pointer;}
.order{background-color: #ff0000;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
}
.no{color: #ffffff;text-decoration: none;}
.img1{width: 79rem;}
.rest{background-color: #ffffff;}
.brandbutn{border: 1px solid white;
     background-color:transparent;
color: white;
padding: 15px 30px;
border-radius: 20px;
cursor: pointer;}

.books{border: 1px solid #808080;height: 540px;width: 520px;margin-top: 60px;}

.publish{text-align: center;margin-top: 10px;}